[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
flake8 = "*"
coverage = "*"
black = "*"

[packages]
click = "*"
geojson = "*"
requests = "*"
calfire-wildfires = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
